body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    scroll-behavior: smooth;
}

header {
    background: #ffffff;
    padding: 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.parallax {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transform: translateZ(0); /* Prevents janky jumps */
    will-change: transform; /* Helps with smooth rendering */
}


#venue { background-image: url('images/venue.jpg'); }
#directions { background-image: url('images/directions.jpg'); }
#rsvp { background-image: url('images/venue.jpg'); }
#faqs { background-image: url('images/directions.jpg'); }

.content {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}
